@import url('https://mmwebfonts.comquas.com/fonts/?font=oursunicode');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
	background: #2e2e2e;
}

.red-text {
	color: #ff0000;
}

.container {
	font-family:'Nunito','Ours-Unicode';
	max-width: 1024px;
	margin: auto;
	padding: 30px;
	background: #fff;
}

.container.black {
	background: #2e2e2e;
	color: #fff;
}

.container.black a {
	color: #ff0000;
}

.lang_switcher {
	text-align: center;
}

.social_share {
	display: flex;
	justify-content: center;
}

.social_share .btn {
	margin: 20px;
}